main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  /* background-image: url(../assets/aboutbg.webp); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 80px 1.9375rem;
}

#hero-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;

  /* padding: 25px 9%; */
  padding: 0 0;
  margin: 0 0;
}

.description-1 {
  width: 59%;
  height: 95%;
  background-color: var(--color-white);
  border: 2px solid var(--color-lightgrey);
  font-weight: 400;
  text-align: justify;
  padding: 8px 79px;
  color: rgb(37, 37, 37);
}

.slogan-1 {
  font-size: 1.1rem;
  color: var(--color-red);
  margin-bottom: 2rem;
}

.title-1 {
  font-family: var(--ff-cocogoose);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
  font-size: 2.8rem;
  text-align: left;
  line-height: 1.9rem;
  width: max-content;
  height: max-content;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7%;
  color: var(--color-red);
}

.title-1:hover {
  background-image: none;
  transition: all 0.25s ease-in-out;
}

.contact-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
  color: #555252;
}

.contact-1 a {
  text-decoration: none;
  color: #555252;
  font-weight: bold;
}

.section-title {
  font-weight: bold;
  font-size: 8rem;
}

.logo-seamless {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 0;
}

.title-sec2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parag {
  color: gray;
  height: 8rem;
  width: 50rem;
  margin-top: 2rem;
}

.bottom-title {
  width: 7.5rem;
  height: 0.29rem;
  border-radius: 0.3125rem;
  background-color: var(--color-red);
  margin-top: 10px;
}

.logodegn {
  float: right;
  border: 3px solid var(--color-lightgrey);
  width: 40%;
  height: 40%;
}

.logo-seamless img {
  padding: 10px 10rem;
}

.previous-event {
  text-align: center;
  padding: 10px;
  border: 2px solid var(--color-lightgrey);
  margin: auto;
}

.previous-event p {
  text-align: center;
  color: var(--color-black);
  font-size: 1.5rem;
  opacity: 1;
  max-width: 910px;
  padding: 30px;
}

.past-events {
  display: flex;
  align-items: center;
  gap: 1rem;
}

ul {
  list-style-type: none;
}

.past-events li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 35vw;

  /* box-shadow: inset -100vw -100vh #704b4780; */
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: box-shadow 0.45s, transform 0.45s;
}

.past-events li:hover {
  transform: scale(0.6);
}

.past-events li h3 {
  position: absolute;
  text-align: center;
  font-size: 2rem;

  /* color: var(--color-white); */
}

.past-events li:first-child {
  background-image: url(../Assets/ConferenceSeamless.jpg);
  background-size: cover;
}

.past-events li:last-child {
  background-image: url(../Assets/ConferenceSeamless-1.jpg);
  background-size: cover;
}

/* Mobile Version : */
@media only screen and (max-width: 768px) {
  .description-1 {
    width: 100%;
  }

  .logodegn {
    width: 100%;
  }
}
