:root {
  --ff-cocogoose: 'COCOGOOSE', sans-serif;
  --ff-lato: 'Lato', sans-serif;
  --color-black: #272a31;
  --color-red: #ec5242;
  --color-aqua: #0ff;
  --color-lightgrey: #d3d3d3;
  --color-darkgrey: #5e5e5e;
  --color-whitesmoke: #f7f7f7;
  --color-white: #fff;
  --color-red1: #110202;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-lato);
}

body {
  background: var(--color-whitesmoke);
}

header {
  height: 6.5rem;
}

.menu {
  display: block;
  top: 5%;
  left: 10%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 30px;
}

.menu::before,
.menu::after,
.menu div {
  background: var(--color-darkgrey);
  content: "";
  display: block;
  height: 4px;
  border-radius: 1px;
  margin: 7px 0;
  transition: 0.5s;
}

li,
ul {
  display: inline;
  list-style-type: none;
  padding: 0 15px;
  color: var(--color-white);
  cursor: pointer;
  text-align: center;
}

li:hover {
  color: var(--color-aqua);
}

/* Humberger CSS */
.humberger {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--color-white);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.85;
  z-index: 10;
}

.humberger img {
  display: none;
}

.humberger ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 90px;
}

.close {
  position: absolute;
  font-size: 60px;
  color: var(--color-darkgrey);
  cursor: pointer;
  top: 0;
  left: 300px;
}

.first-nav {
  display: none;
  height: 30%;
  justify-content: flex-end;
  padding-right: 168px;
  align-items: center;
  background: var(--color-black);
}

a {
  text-decoration: none;
}

.fa {
  color: var(--color-white);
  position: absolute;
  height: 10%;
}

.fa:hover {
  top: 0;
  color: var(--color-red);
  transition: 0.5s;
}

select {
  color: var(--color-white);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

select:hover {
  color: var(--color-red);
  transition: 0.5s;
}

.second-nav {
  display: none;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  background: var(--color-white);
}

#Home {
  color: var(--color-red);
}

.logo {
  width: 100px;
  height: 30px;
  background: var(--color-white);
  padding: 10px 20px;
  cursor: pointer;
}

.second a {
  color: var(--color-black);
  text-align: center;
}

a:hover {
  color: var(--color-red);
}

#Seamless {
  color: var(--color-aqua);
  border: 2px solid var(--color-aqua);
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.slogan {
  font-size: 1.7rem;
  color: var(--color-red);
  margin-bottom: 2rem;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 80px 20%;
}

#program {
  width: 100%;
  padding: 20px 0;
  padding-bottom: 40px;
  background-image: url(../assets/icons/pattern_bg.png);
  background-repeat: repeat;
  background-color: #272a31;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#program h3 {
  color: white;
}

#program a {
  margin-top: 100px;
  text-decoration: underline;
  text-transform: uppercase;
  color: white;
}

#program hr {
  border: var(--color-red) 2px solid;
  border-radius: 15px;
  width: 15%;
  margin: 0.8% 0;
}

.boxes-row {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
  align-content: center;
}

.program-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 0;
  width: 99%;
  height: 200px;
  background-color: #a8a8a815;
  transition: all 0.25s ease-in-out;
}

.program-item h4 {
  color: var(--color-red);
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.program-item p {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.program-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.program-item:hover {
  border: white 1px solid;
}

#speakers {
  width: 100%;
  padding: 1% 10%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-separator {
  border: var(--color-red) 2px solid;
  border-radius: 15px;
  width: 15%;
  margin: 0.8% 0;
}

.speakers-grid {
  margin-top: 5.2%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
}

.speaker-separator {
  border: lightgray 1px solid;
  border-radius: 20px;
  width: 7%;
  margin: 0.8% 0;
}

.speaker {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.speaker-img {
  margin-right: 10px;
  width:70%;
  height:70%;
}

.speaker-img img {
  width: 150px;
  height: 150px;
  padding-right: 10px;
}
.speaker-title{
  font-family: var(--ff-cocogoose);
  color: var(--color-red);
  padding: 10px 0;
}
.speaker-bio{
  margin: 4.2% 0;
}

.title {
  font-family: var(--ff-cocogoose);
  background-image: url(../Assets/fintech-texture.jpg);
  background-repeat: repeat;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  text-align: center;
  line-height: 4rem;
  width: max-content;
  height: max-content;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-weight: bold;
  text-transform: uppercase;
}

.title:hover {
  background-color: var(--color-red);
  background-image: none;
  transition: all 0.25s ease-in-out;
}

.title-content {
  display: block;
  text-align: left;
}

.description {
  width: 65%;
  border: 3px white solid;
  text-align: justify;
  padding: 8px 20px;
  color: #5e5e5e;
  font-size: 1.1rem;
}

.date {
  font-size: 2rem;
  font-weight: bold;
  color: #555;
}

.place {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
}

.logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
}

.logos img {
  width: 100%;
}
.Prog-H2 {
  color: white;
 
}

/* Desktop Version : */
@media only screen and (min-width: 768px) {
  .first-nav {
    display: flex;
  }

  .second-nav {
    display: flex;
  }

  .menu::before,
  .menu::after,
  .menu div {
    display: none;
  }

  /* main {
    width: 80%;
    margin: 20px 100px;
  } */

  .main-section {
    padding: 2rem 2rem;
  }

  .logo {
    height: auto;
  }
}

.partners-section {
  background: var(--color-darkgrey);
}

.partners {
  display: flex;
  align-items: center;
  gap: 1%;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-transform: capitalize;
  text-align: center;
  color: white;
}

.section-title h2 {
  margin-top: 2%;
  font-weight: bold;
  font-size: 2rem;
}

.bottom-title {
  width: 7.5rem;
  height: 0.29rem;
  border-radius: 0.3125rem;
  background-color: var(--color-red);
  margin-top: 10px;
}

.partners img {
  width: 15%;
  height: 15%;
}

.foot-about {
  display: flex;
  justify-content: space-evenly;
  background-color: #272A31;
}

.foot-about p {
  color: var(--color-darkgrey);
  margin: 5%;
}

.foot-about img {
  width: 20%;
  height: 20%;
  margin: 5px;
}
.foot-1 {
  display: flex;
  justify-content: space-evenly;
}

.foot-1 p {
  color: var(--color-darkgrey);
  margin: 5%;
}

.foot-1 img {
  width: 20%;
  height: 20%;
  margin: 5px;
}

/* Mobile Version : */
@media only screen and (max-width: 768px) {
  header {
    height: 4.5rem;
  }

  #hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding: 25px 9%;
  }

  .description {
    width: 100%;
    border: 3px white solid;
    text-align: justify;
    padding: 8px 20px;
    color: #5e5e5e;
    font-size: 0.8rem;
  }

  .slogan {
    font-size: 1.1rem;
    color: var(--color-red);
    margin-bottom: 2rem;
  }

  .title {
    font-family: var(--ff-cocogoose);
    background-image: url(../Assets/fintech-texture.jpg);
    background-repeat: repeat;
    -webkit-font-smoothing: antialiased;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.1rem;
    text-align: left;
    line-height: 1.9rem;
    width: max-content;
    height: max-content;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    font-weight: bold;
    text-transform: uppercase;
  }

  .title:hover {
    background-color: var(--color-red);
    background-image: none;
    transition: all 0.25s ease-in-out;
  }

  #program {
    width: 100%;
    padding: 20px 0;
    background-image: url(../assets/icons/pattern_bg.png);
    background-repeat: repeat;
    background-color: #272a31;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  #program hr {
    display: none;
  }

  .boxes-row {
    margin-top: 5%;
    display: block;
    width: 80%;
    align-content: center;
  }

  .program-item {
    display: block;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 2%;
    width: 100%;
    background-color: #a8a8a815;
    transition: all 0.25s ease-in-out;
  }

  .program-item:hover {
    border: white 1px solid;
  }

  #speakers {
    width: 100%;
    padding: 1% 10%;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-separator {
    border: var(--color-red) 2px solid;
    border-radius: 15px;
    width: 15%;
    margin: 0.8% 0;
  }

  .speakers-grid {
    margin-top: 5%;
    display: block;
    align-content: center;
  }

  .speaker-separator {
    border: #555 1px solid;
    border-radius: 15px;
    width: 15%;
    margin: 0.8% 0;
  }

  .speaker {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 2%;
  }

  .speaker-name {
    font-family: var(--ff-cocogoose);
    font-size: 1rem;
  }

  .speaker-title {
    font-size: 0.8rem;
    color: var(--color-red);
  }

  .speaker-bio {
    font-size: 0.8rem;
  }

  .speaker-img {
    width: 100px;
    height: 100px;
    padding-right: 10px;
  }

  .speaker-img img {
    width: 50px;
    height: 60px;
  }
}
